

body {
    background-color: #1c161c;
    font-family: 'SN Pro', sans-serif;
    color: #FFFFFF;
    font-size:large;
}

header {
    display: flex;
    position: fixed;
    margin-inline: 1em;
}

#icon {
    margin: 2em;
    border-radius: 50%;
    align-content: center;
}

#burger {
    margin-left: 5em;
    margin-top: 15em
}

.container {
    display: flex;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    justify-content: center;
    padding: 10em;
    margin-top: 10em;
    text-align: center;
}

footer {
    justify-content: center;
    text-align: center;
}

.sidebar {
    min-width: 5vw;
    height: 20vh;
    margin: 10px;
    margin-top: 20vh;
    margin-left: 3vh;
    justify-content: start;
    background-color: #110d11;
    padding: 30px;
    border-radius: 20px;
    background: rgba(26, 8, 8, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.sidebar li {
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 4em;
}

a {
    text-decoration: none;
    color:rgb(204, 239, 239)
}